body{
    background-color: seashell;
}

.Card0{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 775px;
}

.Card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 775px;
}

.Card1:after{
    content: url(https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png);
    display:block;
    position: relative;
    bottom: 655px;
}

.Card2:after{
    content: url(https://raw.githubusercontent.com/morecallan/css102-e6/master/images/soldOut.png);
    display:block;
    position: relative;
    bottom: 655px;
}

.Card2{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 775px;
}

.Card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 775px;
}

.Card4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 775px;
}

.MasterCard{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


img{
    height: 275px;
    width: 250px;
}

.Availability{
    background-color: gray;
    text-align: left;
    color: yellow;
}


.ProductName{
    border: solid 1px;
    border-color: lightblue;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    word-wrap: inherit;
}

.Date{
    font-size: 50%;
}

.Cost{
    font-size: 12px;
    position: relative;
    font-weight: bold;
}

.Details{
    font-size: 60%;
    font-weight: bold;
}
