body{
    background-color: seashell;
}

.Card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
    max-width: 300px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

header{
    text-align: center;
}

img{
    height: 400px;
    width: 400px;
}

.Availability{
    background-color: gray;
    text-align: center;
    width: 400px;
}

.ProductName{
    border: solid 2px;
    border-color: lightblue;
}