body{
    background-color: seashell;
}

.Card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 650px;
}

.Card2{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 650px;
}


img{
    height: 400px;
    width: 400px;
}

.Availability{
    background-color: gray;
    text-align: center;
    color: yellow;
}

.ProductName{
    border: solid 2px;
    border-color: lightblue;
    text-align: center;
}

.Date{
    font-size: 50%;
}